
body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	word-spacing: 0.1em;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: 900;
}

.main-header {
	padding: 2em 5% 3em;

	position: relative;
	margin-bottom: 2em;

	background-color: lighten($color-main, 3%);
	color: #fff;
	text-shadow: 0 2px 0 $color-shadow;

	// Add an extra circular background element
	&::before {
		content: "";

		width:  100%;
		height: 100%;
		border-bottom-left-radius: 100%;

		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;

		background: $color-main;
	}

	@include up-to-width($breakpoint-tablet-portrait - 1px) {
		@include tooltipIndicatorAtBottom($width-indicator, $height-indicator, lighten($color-main, 3%), after);
	}

	@include from-width($breakpoint-tablet-portrait) {
		@include prefixr(box-sizing, border-box);
		width: $width-vertical-header;
		margin-bottom: 0;

		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;

		// Invert the radius curve
		&::before {
			border-bottom-left-radius: 0;
			border-top-right-radius: 100%;
		}
	}
	@include from-width($breakpoint-tablet-landscape) {
		padding-top: 4em;
	}
}

	.main-header__link {
		display: block;
		width:  $width-photo;
		height: $height-photo;

		margin: 0 auto 1.5em;

		background-color: darken($color-main, 30%);
		background-image: url(http://gravatar.com/avatar/7f48ee3bb146ae3366c685f685d67fad?s=150);
		background-position: center center;
		background-repeat: no-repeat;

		@include retina {
			background-image: url(http://gravatar.com/avatar/7f48ee3bb146ae3366c685f685d67fad?s=300);
			background-size: $width-photo $height-photo;
		}

		border: 5px solid #fff;
		border-radius: 50%;
		@include prefixr(box-shadow, "0 0 1px " + $color-shadow + ", 0 2px 0 " + $color-shadow);
		text-indent: -9999px;

		// Add the indicator at the bottom (with shadow)
		@include tooltipIndicatorAtBottom($width-indicator, $height-indicator, $color-shadow) {
			bottom: -7px;
		}
		@include tooltipIndicatorAtBottom($width-indicator, $height-indicator, #fff, after) {
			bottom: -3px;
		}

		@include between-widths($breakpoint-mobile-landscape, $breakpoint-tablet-portrait - 1px) {
			float: left;
		}
	}

	.main-header__group {
		@extend %header-content-block;

		// Bring out the element over the parent's pseudo element
		position: relative;
	}

		.main-header__title {
			margin-bottom: 0.5em;

			font-size: 1.5em;
			font-weight: 300;
			line-height: 1em;
			text-transform: uppercase;

			strong {
				display: block;

				margin-bottom: 0.25em;

				font-size: 1.25em;
				font-weight: 900;
			}
		}

		.main-header__subtitle {
			margin-bottom: 1em;

			font-size: 1em;
			font-weight: 300;
			line-height: 1.25em;
		}

	.main-header__social {
		@extend %header-content-block;

		// Bring out the element over the parent's pseudo element
		position: relative;

		line-height: 1.25em;
	}

.projects-category {
	margin-bottom: 2em;

	background-color: #fff;
	color: darken($color-main, 30%);

	@include from-width($breakpoint-mobile-landscape) {
		font-size: 1.15em;
	}

	@include from-width($breakpoint-tablet-portrait) {
		margin-left: 2.5%;
		margin-right: $width-vertical-header;

		font-size: 1.25em;
	}

	@include from-width($breakpoint-tablet-landscape) {
		margin-left: 5%;

		font-size: 1.35em;
	}

	&.projects-category--client {
		@include from-width($breakpoint-tablet-portrait) {
			padding-top: 1em;
		}
		@include from-width($breakpoint-tablet-landscape) {
			padding-top: 3em;
		}
	}
}

	.projects-category__title {
		padding: 1em 0;
		border-bottom: 1px solid $color-main;

		margin-left: 5%;
		margin-bottom: 1em;

		font-size: 0.75em;
		font-weight: 900;
		text-transform: uppercase;
	}

	.project-list {
		list-style: none;
	}

		.project-list__item {
			border-bottom: 1px solid rgba($color-main, 0.1);
		}

			.project {
				display: block;
				padding: 3% 5%;

				font-size: 1.25em;
				font-weight: 300;
				line-height: 1.25em;
				text-decoration: none;
				text-transform: uppercase;
			}

			a.project {
				&::after {
					content: "›";

					float: right;

					color: $color-main;
					font-size: 1.25em;
				}
			}

				.project__brand {
					&::after {
						content: " - ";

						position: relative;
						top: 0.1em;

						color: $color-main;
						opacity: 0.5;
					}
				}

				.project__title { font-size: 0.6em; }

.main-footer {
	padding: 2em 5%;

	margin-top: 4em;

	background-color: #171717;
	color: $color-main;

	@include up-to-width($breakpoint-tablet-portrait - 1px) {
		@include activeIndicatorAtTop($width-indicator, $height-indicator, #fff);
	}

	@include from-width($breakpoint-tablet-portrait) {
		margin-right: $width-vertical-header;
	}

	@include from-width($breakpoint-tablet-landscape) {
		padding-left: 8%;
	}
}

	.main-footer__content {
		font-size: 0.85em;
		line-height: 1.35em;
	}
