
/**
 * Responsive breakpoints
 *
 * Basic opinionated responsive breakpoints.
 */
$breakpoint-mobile-portrait: 320px;
$breakpoint-mobile-landscape: 480px;
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 1024px;


/**
 * Colors
 *
 * Color variables.
 */
$color-main: #1abc9c;
$color-shadow: rgba(darken($color-main, 40%), 0.25);


/**
 * Easing curves
 *
 * Cubic bezier animation easing curves.
 */
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-expo:  cubic-bezier(1, 0, 0, 1);
$ease-out-expo:     cubic-bezier(0.19, 1, 0.22, 1);


/**
 * Sizes
 *
 * A few size variables.
 */
$width-vertical-header: 40%;
$width-photo: 150px;
$height-photo: $width-photo;
$width-indicator: 12px;
$height-indicator: 6px;
